*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Oswald', sans-serif;
  font-size: 62.5%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

h3 {
  font-size: 2.4rem;
}

small {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.fa-heart {
  color: lightpink;
}

.love-me {
  height: 44rem;
  width: 30rem;
  background: url('https://images.unsplash.com/photo-1684779847639-fbcc5a57dfe9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80') center center/cover no-repeat;
  margin: 0 auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 1.4rem 2.8rem rgb(0, 0, 0, 0.25), 0 1rem 1rem rgb(0, 0, 0, 0.22);
  border-radius: 1rem;
}

.love-me .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}